# Platfrom drivers configuration

menu "Additional NiosII Device Drivers"

source "arch/nios2/drivers/pci/Kconfig"

config ALTERA_REMOTE_UPDATE
	bool "Remote update support"
	depends on NIOS2
	default N
	help
	  This driver provides support for automatic reconfiguration of a 
	  CycloneIII FPGA (Possibly others too).

endmenu
