# Platfrom drivers configuration

source "arch/nios2/drivers/pci/Kconfig"

config SERIO_ALTPS2
	tristate "PS2 controller"
	select VT
	default N
	select SERIO

config I2C_NIOS2_GPIO
	tristate "GPIO-Based I2C Interface"
	default N
	select I2C
	select I2C_ALGOBIT
	help
	  Say Y here if you use GPIO lines for an I2C bus.

config NIOS_SD_HOST
	tristate "NIOS SD/SDIO/MMC Host"
	depends on NIOS || NIOS2
	help
		This driver supports the FPS-Tech SD/SDIO/MMC Host IP

