config NIOS2
	def_bool y
	select HAVE_OPROFILE
	select USB_ARCH_HAS_HCD if USB_SUPPORT

config GENERIC_CSUM
	def_bool y

config GENERIC_FIND_NEXT_BIT
	def_bool y

config GENERIC_HWEIGHT
	def_bool y

config GENERIC_CALIBRATE_DELAY
	def_bool y

config GENERIC_TIME
	def_bool y

config GENERIC_HARDIRQS
	def_bool y

config GENERIC_HARDIRQS_NO__DO_IRQ
	def_bool y

config GENERIC_IRQ_PROBE
	def_bool y

config NO_IOPORT
	def_bool y

config ZONE_DMA
	def_bool y

config FPU
	def_bool n

config SWAP
	def_bool n

config RWSEM_GENERIC_SPINLOCK
	def_bool y

# FIXME: really !
config NOT_COHERENT_CACHE
	def_bool n

config TRACE_IRQFLAGS_SUPPORT
	def_bool n

config RAMKERNEL
	def_bool y

source "init/Kconfig"

source "kernel/Kconfig.preempt"

source "kernel/Kconfig.freezer"

source "arch/nios2/boards/Kconfig"

menu "Processor type and features"

config MMU
	bool "MMU support"
	default y
	help
	  This option enables support for the NiosII MMU. Only enable this
	  option if your design contains a NiosII/f core with MMU enabled.

menu "NiosII specific compiler options"

config NIOS2_HW_MUL_SUPPORT
	bool "Enable MUL instruction"
	default y
	help
	  Enables the -mhw-mul compiler flag.

config NIOS2_HW_MULX_SUPPORT
	bool "Enable MULX instruction"
	default n
	help
	  Enables the -mhw-mulx compiler flag.

config NIOS2_HW_DIV_SUPPORT
	bool "Enable DIV instruction"
	default n
	help
	  Enables the -mhw-div compiler flag.

endmenu

config OF
	bool "Devicetree support"
	def_bool n
	select DTC
	select OF_FLATTREE

config DTC
	bool
	depends on OF

config ALIGNMENT_TRAP
	bool "Catch alignment trap"
	default y
	help
	  NIOS II cpus cannot fetch/store data which is not bus aligned,
	  i.e., a 2 or 4 byte fetch must start at an address divisible by
	  2 or 4. Any non-aligned load/store instructions will be trapped and
	  emulated in software if you say Y here, which has a performance
	  impact.

source "mm/Kconfig"

menu "Exectuable file formats"

source "fs/Kconfig.binfmt"

endmenu

comment "Boot options"

config CMDLINE
	string "Default kernel command string"
	default ""
	help
	  On some platforms, there is currently no way for the boot loader to
	  pass arguments to the kernel. For these platforms, you can supply
	  some command-line options at build time by entering them here.  In
	  other cases you can specify kernel args so that you don't have
	  to set them up in board prom initialization routines.

config PASS_CMDLINE
	bool "Passed kernel command line from u-boot"
	default n
	help
	  Use bootargs env variable from u-boot for kernel command line.
	  will override "Default kernel command string".
          Say N if you are unsure.

config BOOT_LINK_OFFSET
	hex "Link address offset for booting"
	default "0x00500000"
	help
	  This option allows you to set the link address offset of the zImage.
	  This can be useful if you are on a board which has a small amount of
	  memory.

source "kernel/Kconfig.hz"

source "kernel/time/Kconfig"

comment "Platform driver options"

config AVALON_DMA
	bool "Support for DMA controller with Avalon interface"
	default y
	help
	  Support the Altera DMA controller with Avalon interface, so drivers
	  for DMA-able devices can use this interface.

source "arch/nios2/drivers/Kconfig"

endmenu

source "net/Kconfig"

source "drivers/Kconfig"

source "fs/Kconfig"

source "arch/nios2/Kconfig.debug"

source "security/Kconfig"

source "crypto/Kconfig"

source "lib/Kconfig"
